*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background: #f5f2fb;
  padding: 30px;
}

.container{
  max-width: 900px;
  margin: auto;
}
.topo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.topo h1{
  font-size: 32px;
  color: #2d2d2d;
  margin-bottom: 5px;
}

.topo p{
  color: #777;
}

.btn-filtro{
  background: white;
  border: none;
  padding: 12px 20px;
  border-radius: 12px;
  cursor: pointer;
  color: #7b4cc7;
  font-weight: bold;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
  transition: 0.3s;
}

.btn-filtro:hover{
  background: #efe7ff;
}

.lista{
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.card{
  background: white;
  border-radius: 18px;
  padding: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  transition: 0.3s;
}

.card:hover{
  transform: translateY(-3px);
}
.esquerda{
  display: flex;
  align-items: center;
  gap: 18px;
}

.icone{
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 22px;
  font-weight: bold;
}

.vermelho{
  background: #ff6b6b;
}

.amarelo{
  background: #f4b740;
}

.verde{
  background: #42c97a;
}

.roxo{
  background: #8d5ae9;
}

.info h2{
  font-size: 18px;
  margin-bottom: 5px;
}

.info p{
  color: #777;
  font-size: 14px;
  margin-bottom: 5px;
}

.tipo{
  font-weight: bold;
  color: #555;
}

.direita{
  text-align: right;
}

.status{
  display: inline-block;
  padding: 8px 14px;
  border-radius: 20px;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 10px;
}

.andamento{
  background: #ffe3e3;
  color: #d9534f;
}

.avaliacao{
  background: #fff2cf;
  color: #d19a00;
}

.concluida{
  background: #daf7e5;
  color: #239b56;
}

.arquivada{
  background: #ececec;
  color: #777;
}

.protocolo{
  font-size: 13px;
  color: #888;
}
.btn-detalhes{
  margin-top: 10px;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  background: #7b4cc7;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.btn-detalhes:hover{
  background: #6337aa;
}

@media(max-width: 700px){

  .topo{
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }

  .card{
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .direita{
    text-align: left;
  }

}